<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # BEGIN WordPress
    RewriteCond %{REQUEST_URI}::$1 ^(.*?/)(.*)::\2$
    RewriteRule ^(.*)$ - [E=BASE:%1]
    RewriteRule ^$ %{ENV:BASE}wordpress/index.php [L]

    # Skip real files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Otherwise send it to WordPress
    RewriteRule .* %{ENV:BASE}wordpress/index.php [L]
    # END WordPress
</IfModule>
